* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  color: #333;
} */

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #5a9385c2;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Set the minimum height of the body to 100% of the viewport height */
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

main {
  flex: 1;
  padding: 2% 4%;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgba(4, 7, 53, 0.82);
}

a:hover {
  color: #c0568bd1;
  text-decoration: none;
}

.snob {
  text-decoration: none;
  font-weight: bold;
  color: rgba(88, 46, 66, 0.986);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #474762;
  color: #fff;
  height: 60px;
  padding: 0 20px;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul {
  margin-right: auto;
  margin: 4%;
}

nav li a {
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  align-items: center;
  color: rgb(190, 128, 89);
  font-size: x-large;
  text-decoration: none;
}

nav li a:hover {
  background-color: #077445;
  color: white;
  text-decoration: none;
}

nav li button {
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  align-items: center;
  color: rgb(190, 128, 89);
  font-size: x-large;
  text-decoration: none;
}

nav li button:hover {
  background-color: #077445;
  color: white;
  text-decoration: none;
}

#logout {
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  align-items: center;
  color: rgb(190, 128, 89);
  font-size: x-large;
  text-decoration: none;
  background-color: none;
}

#logout:hover {
  background-color: #077445;
  color: white;
  text-decoration: none;
}

button {
  border: 0;
  padding: 1%;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form>div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title-purp {
  text-align: center;
  margin-right: 20%;  
  margin-top: 2%;
  margin-bottom: 2%;;
}

.title {
  text-align: center;
  padding: 2%;
}

.title h1 {
  /* font-size: em; */
  margin-bottom: 10px;
}

.title p {
  /* font-size: 1.5em; */
  margin-bottom: 50px;
}

.comment-post {
  padding-right: 1em;
  text-align: right;
}

/* .comment {
  border-radius: 5px;
  background-color: rgba(215, 176, 172, 0.487);
} */

.postcard {
  background-color: rgba(255, 255, 255, 0.531);
}

/* .comment:nth-child(odd) {
  background-color: #cac4f1d5;
  border-radius: 5px;
} */

.thumbs {
  padding-right: 1em;
  padding-bottom: 1em;
  text-align: right;
}

.card {
  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 5px;
}

.card-music {
  padding-top: 2em;
  font-family: 'PressStart', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #4c459c;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn, .delbtn {
  background-color: #d41414;
}

.delete-post-btn, .delbtn :hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.edit-post-form {
  margin-bottom: 5%;
}

.rows {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'PressStart';
  src: url(PressStart2P-Regular.ttf);
}

.wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}



h1 {
  color: #2946ba;
  text-align: center;
  font-family: 'PressStart', Arial, Helvetica, sans-serif;
  text-align: left;
  border-style: dashed;
  border-color: #BFACE2;
  border-width: 10px;
  letter-spacing: 12px;
  padding: 4%;
  display: inline-block;
  width: 85px;
  padding-right: 40px;
}

/* .headerImg {
  opacity: 0.2;
  position: absolute;
  left: 350px;
  top: 0;
  width: 70%;
  height: 100%;
  scale: 1;
}
.content {
  display: flex;
  height: 600px;
  align-items: center;
  justify-content: center;
} */

.desc {
  text-align: left;
  padding-left: 1em;
}

/* h5 {
  font-family: 'PressStart', Arial, Helvetica, sans-serif;
  text-align: center;
  color:#4c459c;
} */

h4 {
  text-align: center;
}

input {
  width: 300px !important
}

@media screen and (max-width: 980px) {}


/* Dark mode styling */
body.dark-mode {
  background-color: #333;
  color: #fafafa;
}

nav.dark-mode {
  background-color: #111;
  color: #fff;
}

nav.dark-mode li a {
  color: #fff;
}

nav.dark-mode li a:hover {
  background-color: #222;
}

.title.dark-mode {
  color: #fff;
}

.user-profiles.dark-mode {
  background-color: #111;
}

.user.dark-mode {
  background-color: #222;
  color: #fff;
}

footer.dark-mode {
  background-color: #111;
  color: #ccc;
}